.home-row { width: 100%; float: left; display: flex; justify-content:center; flex-wrap: wrap; align-items: stretch;   }
.home-col { max-width: 31.3%; float: left; margin:1%; padding:1rem; border: solid 1px #ccc; }
.home-col h2 { width: 100%; float: left; text-align: left; font-weight: 600;  font-size: 20px; line-height: 1.2; color:#191919;  }
.home-col img {width: 100%; float: left; margin: 1rem 0 1rem 0;  }
.home-col aside { width: 100%; float: left; text-align: center; }
.home-col a { width: auto; display: inline-block;  margin: 0 auto;  padding:0.7rem 2rem; box-sizing: border-box; text-align: center;  background:#191919;  font-weight: 500;  font-size: 16px;  color:#fff;  border:0; transition: all 0.5s ease-out;  border-radius:25px;  text-decoration: none;   cursor: pointer; outline: none; text-transform: uppercase; }
.home-col a:hover { background: #AFCDAF;  color: #fff;   transition: all 0.5s ease-in; }
